<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <servlet>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <url-pattern>/NewEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbServlet</display-name>
    <servlet-name>NewReimbServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbServlet</servlet-name>
    <url-pattern>/NewReimbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReimbServlet</display-name>
    <servlet-name>ViewReimbServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReimbServlet</servlet-name>
    <url-pattern>/ViewReimbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeesServlets</display-name>
    <servlet-name>GetEmployeesServlets</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeesServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeesServlets</servlet-name>
    <url-pattern>/GetEmployeesServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveServlet</display-name>
    <servlet-name>ResolveServlet</servlet-name>
    <servlet-class>com.revature.servlets.ResolveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveServlet</servlet-name>
    <url-pattern>/ResolveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmplInfoByServlet</display-name>
    <servlet-name>GetEmplInfoByServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmplInfoByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmplInfoByServlet</servlet-name>
    <url-pattern>/GetEmplInfoByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestByIdServlet</display-name>
    <servlet-name>GetRequestByIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetRequestByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestByIdServlet</servlet-name>
    <url-pattern>/GetRequestByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeByIdServlet</display-name>
    <servlet-name>GetEmployeeByIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeeByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeByIdServlet</servlet-name>
    <url-pattern>/GetEmployeeByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>