<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    
<meta charset="UTF-8">
<style>
    h1{
      font-size: 30px;
      color:red;
      text-align: center;
  }
  h2{
      font-size: 20px;
      color:green;
      text-align: center; 
  }
  img {
     height: 300px;
     left: 50%;
     margin-top: -100px;
     margin-left: -150px;
     position: absolute;
     top: 50%;
     width: 300px;
  }
  </style>
</head>
<body>
        <!-- navigator bar -->       
    <nav class="navbar navbar-expand-lg " style="background-color: #e3fde3;">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown"style="background-color: #e3f2fd;">
              <ul class="navbar-nav">

                <li class="nav-item">
                    <form method="POST" action="/http://localhost:8080/Project1/LogoutServlet">
                        <a class="nav-link" href="Views/Login.html"> Logout</a>
                    </form>
                </li>
                 
              <li class="nav-item">
                <a class="nav-link"  href="Views/update.html">Update Profile</a>
             </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Employee Information
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="Views/getEmployeeById.html"> Employee Info </a>
                          
                        </div>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reimbursements
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="Views/CreateReimb.html"> Create Reimbursement</a>
                     <a class="dropdown-item" href="Views/getReqById.html">View Your Reimbursement Requests</a>
                  </div>
                </li>           
              </ul>
            </div>
          </nav>
<!-- navigator bar -->
    <h1>Welcome to the Expense Reimbursement System (ERS)</h1>
<br> 
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm7fxbGV-ZEW689OEunbQnyGsWNltlh8Kyo4SRpiPZiG0sKoxx" alt="Welcom pic"  >
<h2>Employee Home Page</h2> 
</body>
</html>
