<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <style>
            body
            {
                text-align: center; 
            }
            #submit-request{
                background-color: green;
                text-align: center;
            }
        
        </style>
</head>
    <body>
            <!-- navigator bar -->       
    <nav class="navbar navbar-expand-lg " style="background-color: #e3fde3;">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown"style="background-color: #e3f2fd;">
              <ul class="navbar-nav">

                <li class="nav-item">
                    <form method="POST" action="/http://localhost:8080/Project1/LogoutServlet">
                        <a class="nav-link" href="../Views/Login.html"> Logout</a>
                    </form>
                </li>
                <li class="nav-item">
               <form>
                  <a class="nav-link" onclick="history.go(-1)"> Back <span class="sr-only">(current)</span></a>
               </form>
               </li>
                  
              </ul>
            </div>
          </nav>
    <h1>Retrieve Employee Request by Id</h1> <br>
    <form method="POST" action="http://localhost:8080/Project1/GetRequestByIdServlet" class="form"> 
        <h4>Please Enter Employee id:</h4>
        <div class="form-group row">
           <div class="col-sm-3">
                <input type="text" class="form-control" id="id" name="id" required="required" placeholder="enter empl id">
            </div>
            <button id="submit" class="col-lg-2 btn btn-primary button-style">Submit</button>
        </div>
        
    </form>
    <script src="/Project1/Scripts/AjaxGetReqById.js"></script>
    </body>
</html>