<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
</head>
<body>  
    <nav class="navbar navbar-expand-lg " style="background-color: #e3fde3;">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown"style="background-color: #e3f2fd;">
              <ul class="navbar-nav">

                <li class="nav-item">
                    <form method="POST" action="/http://localhost:8080/Project1/LogoutServlet">
                        <a class="nav-link" href="../Views/Login.html"> Logout</a>
                    </form>
                </li>
                <li class="nav-item">
               <form>
                  <a class="nav-link" onclick="history.go(-2)"> Back <span class="sr-only">(current)</span></a>
               </form>
               </li>
                  
              </ul>
            </div>
          </nav>   
        <div class="container">
                <h2>Requests:</h2>
                <table class="table" id="Requests-table">
                    <tr>
                        <th>Request Numb</th>
                        <th>Employee Id</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Manager Id</th>
                    </tr>
                </table>      
            </div>           
          <script src="../Scripts/getReimbs.js" ></script>
</body>
</html>